SECRET=MIICXAIBAAKBgQC954dF2Q3oR5z2yWlvtBoTbTgtL5Gqu+p/E+BYO2MuLAoJmu2kbf0aSoeqLMix8CAToHS6ahiY7SkuVKbhAD6wXmkM+beWCUO+h1h/Ha0X3RbCvz+dPQ98XxwV4/G++4qoNYGLsjAYyfLNRrdlWa8aYrbnNKz2LaWzizTPeMlNnQIDAQABAoGANNv3WUfbiSY12LOjd4ZII9Qo6NruzvlTgl/D+Is/RiDYAmhvcW90HhdUv9eLXYwbQZtOIn1Zr2eEKPNDKCnrSKzbkSrCmozgi5mB+WJ+lMAOcJzsTiiQS24az9OM9BEhPhRBchG88cGxcNHHrlAIrQs7Ra7FuBj3BdvdXUsScAECQQD2iLkuuOx5qPwS0c7CbFr5YsI41Pyjen0s0Mnsk7V18EPPsZOAcIi5Gm79+t17AHKsePbBUSg6XLSbJuB+13OdAkEAxTIrrjN+ipfcq0qAIW9lXgfpzLYyZXR+yKybOQFdcPvEnmb+dvnAwNZP7Lm5BPOvYCCuNi5Ed9SP3R66vMMiAQJAfXZHB4gEkEV3QvyTBE6wXYns3Y9GosuLOGto14S0LDkByYjNTf1LH5PTeGFJTutICjPKsJqfoj/QJYgWWy74QJAVGT0bMl9DrOPrX9k9upF58hbN1GCoAkLebbld7At3Xzi2SgbH7Aj3mPaMOYLWSMxm2JhLK8AfohqSagtIzwgAQJBAIM2QSbH7WF2RPSEFxJkkMcqLurmruPQFRFj/M3BY21v4PH8rtgCgvDlNIWqPhjFl4XKJpmUHbLEtQ73eQBp944=
MONGODB_URL="mongodb://localhost:27017/reprograma"