SECRET=MIICWwIBAAKBgGcGsFlcZb1lIOzjSaGceW7jglu8fidMLr3xCCa/WvrBvoYmhoIYPNUfQc9qQc5jMEStFSE8bd9VK7L1PWFjKA33Yk16hz43fVDHhyYZMJsZszgGaGDsb4Cg1MjKmnIvyZLLvj6T4TqRXvt+9mlMgj3cMmWSHz/duduuijCkwhBBAgMBAAECgYAWaGAGr4/5R3uHyk+DdPL8aUM7DJ4rkehAq6HoO4pgK69yogJzXS4t9GRt5mB1sSEYbsS/u9Lx1iZw/+Hfwp89U79sA5Xr9C0EfMNz4EngRjmLk0eThfYJwoxBZ6JVDU+ZMDtoEfaOMKMfLMGNGMQj0Zl0amwZNtgn3KR2JFdBoQJBAKUWx0VqKfRfe3TiPkmHi64CopMEMZPgNTEPPw7eXVNyrH9stup+hELevT6oOE5lOzF1Vr+5arLMC0w1+HhQz0CQQCfwqyfneVHA6v7rvzK/sphkEuoIwMZ4z5+tsaeiWLrs5BF/GUL3cU6U4/4hlYp8vlL7GZcSNDph8oMQzVnuYFVAkEAm3a76S50m+Bezk9QAMZYT2HD31aPqYX2EWEeLM5SbIcM0mJ6TpEd1CsVY6/edlT2TTkGnD3rsLxd10Iu+TO8sQJAP2/Gqc7BptQfa13NhTFs3Ra14/qbFaF1RE2BSpxVCjCP3ipdWTvjP8jEhzOYbSnMscgZ0RUc104S/ZGGWDyBzQJALyqF1ZlofUpY3BBRDqjBTJ1F7zWpZ7OnxPXelU7wEi9kBR7CTGfANQ0Ap9nE+taDm9glp1JFrqtFvb/nn/qOvA==
MONGODB_URL="mongodb://localhost:27017/projecttasks"
